html {
    overflow-x: hidden;
}

body,
html {
    min-width: 1300px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    word-break: break-all;
    font: 12px/1.5 'microsoft yahei', 'simsun', sans-serif, tahoma, arial, 'Hiragino Sans GB', sans-serif;
}

button,
img,
em {
    border: 0;
}

img {
    vertical-align: middle;
}

li,
ul {
    list-style: none;
}

i {
    font-style: normal;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
}

input,
textarea {
    outline: none;
}

em,
i {
    font-style: normal;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    display: block;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.img_div {
    width: 1200px;
    margin: 0 auto;
    height: 500px;
}